button,
.button {
  cursor: pointer;
  font-weight: var(--fw-semiBold);
  padding: 0.5em 1em;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  background-color: transparent;
  font-family: var(--ff-sans);
  line-height: 1.3; // must be same as form field
  border-radius: 0.25em; // must be same as form field
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--color-primary);
      color: white;
    }
  }

  &[data-type="primary"] {
    background-color: var(--color-primary);
    color: white;
    border-color: var(--color-primary);

    &:hover {
      border-color: green;
      background: green;
    }
  }
}
